/* This is the css file for the website */

@font-face {
    font-family: customFont;
    src: url(PlaywriteRO-VariableFont_wght.ttf);
}

body {
    background-color: white;
}

header {
    color: rgb(0,100,200)
}

.test {
    color: purple
}

#textbox {
    background-color: color-mix(in srgb, rgb(43, 147, 152) 50%, rgb(87, 199, 18) 50%);
}

h2 {
    color: #6a5acd;
    font-size: 3em;
    border-top: 4px solid gray;
    border-right: 4px solid peru;
    border-bottom: 4px solid gray;
    border-left: 4px solid peru;
    position: static;
}

img {
    width: 50%;
    height: 50%;
}

h1 {
    color: red;
    font-size: 2vmax;
    font-family: customFont;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    text-align: center;
    position: sticky;
    top: 20px;
}

h1:active{
    color:green;
}

h3 {
    color: hsl(147, 50%, 47%);
    font-size: 0.8rem;
    text-decoration: underline;
    position: static;
}

form{
    background-color: slategray;
    margin-top: -40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 4em;
}

select {
    width: 10cm;
    margin: 0px 0px 0px 200px;
    padding: 0px 0px 0px 200px;
}

textarea {
    width: 500pt;
    height: 5cm;
    max-height: 1cm;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 4em;
}

textarea, li {
    color: rgb(77, 13, 141);
    font-weight: bold;
}

button {
    max-width: 100px;
    width: 200px;
    margin: auto;
    display: block;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: auto;
    
}

ol {
    display: grid;
    row-gap: 20px;
    justify-items: center;
    align-items: stretch; 
    
}

button:hover {
    color:blueviolet;
    background-color: black;
}

button:active{
    color:red;
    background-color: green;
}

footer {
    color: color(srgb 1 0.5 0);
}

p {
    /* This is an example of a fallback */
    color: var(--red, orange);
    display: inline-block;
    position: static;
}

* {
    text-align: center;
}

ol[type="I" i] {
    background: green;
}

li li {
    border-width: 4px;
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 10%;
}

ol > li {
    color:yellowgreen;
}

h2 ~ p {
    font-style: italic;
}

h2 + strong {
    font-style: italic;
}

h2.formName {
    font-family:customFont;
}

h1:has(+ h3) {
    color:blue;
}


.nested {
    & > span {
        color: red;
        font-weight: bold;
    }
}



/*Iphone SE*/
@media screen and (min-width: 320px) and (max-width: 650px){
    body {
        font-size: 1.7vh;
    }
    select {
        width: 5cm;
        margin: 0px 0px 0px 0;
        padding: 0px 0px 0px 0px;
    }

    textarea {
        width: 200px;
        height: 3cm;
        max-height: 1cm;
        padding-top: 0px;
        padding-right: 30px;
        padding-bottom: 40px;
        padding-left: 4em;
    }

    form{
        background-color: slategray;
        margin-top: -20px;
        margin-right: 30px;
        margin-bottom: 20px;
        margin-left: 4em;
    }

    video {
        margin-top: 0px;
        width: 5cm;
        height: 2cm;
        margin-bottom: 20px;
    }

    audio {
        width: 180px;
        height: 20px;
        margin-top: -100px;
    }

    p {
        margin-top: -200px;
    }
}

/*Ipad Air*/
@media only screen and (width: 820px) and (height: 1180px){
    body {
        font-size: 1.2vh;
    }

    h1 {
        color: red;
        margin-bottom: 0px;
        border-width: 4px;
        border-style: solid;
        border-color: black;
        border-radius: 10%;
        text-align: center;
        position: sticky;
        top: 20px;
    }

    img {
        width: 30%;
        height: 30%;
    }
    select {
        width: 5cm;
        margin: 0px 0px 0px 0;
        padding: 0px 0px 0px 0px;
    }

    textarea {
        width: 200px;
        height: 3cm;
        max-height: 1cm;
        padding-top: 0px;
        padding-right: 30px;
        padding-bottom: 40px;
        padding-left: 4em;
    }

    form{
        background-color: slategray;
        position: absolute;
        margin-left: 250px;
        margin-top: 20px;
        width: 300px;
    }

    footer, a {
        margin-top: 20px;
    }

    details {
        margin-top: 670px;
    }

    video {
        margin-top: 0px;
        width: 5cm;
        height: 2cm;
        margin-bottom: 20px;
    }

    audio {
        width: 180px;
        height: 20px;
        margin-top: -100px;
    }
}