/* This is the css file for the website */

header {
    color: rgb(0,100,200)
}

h2 {
    color: #6a5acd;
    font-size: 3em
}

h1 {
    color: red;
    font-size: 2vm
}

h3 {
    color: hsl(147, 50%, 47%);
    font-size: 0.8rem
}

form{
    background-color: slategray
}

select {
    width: 10cm
}

textarea {
    width: 500pt
}

button {
    width: 200px
}

footer {
    color: color(display-p3 1 0.5 0);
}

p {
    /* This is an example of a fallback */
    color: var(--red, orange)
}